## Iterate over all facts
#foreach($fact in $facts)
#fact($fact)

#end

## Iterate over all rules
#foreach($rule in $rules)
#terms($rule.getHead().getPredicateTerms()) ##
:- ##
#terms($rule.getBody().getPredicateTerms())##
.
#end

## Macro for a single fact
#macro(fact $f)
$f.getName()($f.getConstant().getName()).##
#end

## Macro for multiple terms, separated by ','
#macro(terms $ts)
#set($maxIndex = $ts.size() - 1)
#foreach($n in [0..$maxIndex])
#if($n != 0)
, ## Comma separates the predicates
#end
#term($ts.get($n))
#end
#end

## Macro for a single term
#macro(term $t)
#if(!$t.isTrue())
not ##
#end
$t.getName()($t.getVariable().getName())##
#end